RewriteEngine On
RewriteBase /bookingz/

# Route API requests to api/mg_api.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/(.*)$ api/mg_api.php?endpoint=$1 [QSA,L]

# Redirect all other requests to router.php except for existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ router.php [QSA,L]

